<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 这个xml的里面所有的操作，都是要对这个 Mapper 接口进行定义 -->
<mapper namespace="com.wisezone.mapper.CVInfoMapper">
	 <insert id="insert" parameterType="com.wisezone.entity.CVInfo" useGeneratedKeys="true" keyProperty="tId">
		insert into cv_info(
			stu_name,phone,sex,school,education,major,job,msg_from,td_type,intention,cv_details,create_date
		) 
		values(
			#{stuName},
			#{phone},
			#{sex},
			#{school},
			#{education},
			#{major},
			#{job},
			#{msgFrom},
			#{tdType},
			#{intention},
			#{details},
			#{createDate}
		)
	</insert> 
	
	<resultMap type="com.wisezone.entity.CVInfo" id="cvInfo">
		<result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="sex" jdbcType="VARCHAR" property="sex"/>
		<result column="school" jdbcType="VARCHAR" property="school"/>
		<result column="education" jdbcType="VARCHAR" property="education"/>
		<result column="major" jdbcType="VARCHAR" property="major"/>
		<result column="job" jdbcType="VARCHAR" property="job"/>
		<result column="msg_from" jdbcType="VARCHAR" property="msgFrom"/>
		<result column="td_type" jdbcType="VARCHAR" property="tdType"/>
		<result column="intention" jdbcType="VARCHAR" property="intention"/>
		<result column="cv_details" jdbcType="VARCHAR" property="details"/>
		<result column="create_date" jdbcType="DATE" property="createDate"/>
	</resultMap>
	
	<select id="queryNameAndPhone" parameterType="map" resultMap="cvInfo">
			select stu_name, phone,school,major,msg_from,create_date from cv_info 
			<where>
			    <if test="stuName!=null and stuName!=''">
			      stu_name = #{stuName}
			    </if>
			    <if test="phone!=null and phone!=''">
			      AND phone = #{phone}
			    </if>
		   </where>
	</select>
	
	<!--分页查询-->
	<!-- 根据面试者姓名或者电话，录入日期查询的分页 -->
	<sql id="_searchPaging1">
		<where>
		 	<if test="param != null">
		  		<if test="param.searchText != null and param.searchText != ''">
		  			<if test="param.s_text == 1">
			  			and t.stu_name = #{param.searchText}
		  			</if>
		  			<if test="param.s_text == 2">
			  			and t.phone = #{param.searchText}
		  			</if>
		  		</if>
		  		<if test="param.s_date == 1">
		  			<if test="param.from_date != null and param.from_date != ''">
		  				<![CDATA[ and t.create_date >= #{param.from_date}]]>
		  			</if>
		  			<if test="param.to_date != null and param.to_date != ''">
		  				<![CDATA[ and t.create_date <= #{param.to_date}]]>
		  			</if>
		  		</if>
			</if>
		</where>
	 </sql>
   <select id="searchPaging1" resultType="map" parameterType="map">
      select 
		t.t_id tId,	
		t.stu_name stuName,
		<!-- (select t2.t_id from user_info t1 inner join user_cv_rel t2 on t1.t_id = t2.user_id where t2.stu_id = t.t_id) relId, -->
		(select t1.t_id from user_cv_rel t1 where t1.stu_id = t.t_id) relId,
		
		(select t1.login_name from user_info t1 inner join user_cv_rel t2 on t1.t_id = t2.user_id where t2.stu_id = t.t_id) userName,
		(select t1.t_id from user_info t1 inner join user_cv_rel t2 on t1.t_id = t2.user_id where t2.stu_id = t.t_id) userId,
	  	t.create_date createDate,
		(select t1.visit_date from user_cv_rel t1 where t1.stu_id = t.t_id) visitDate,
		(select t1.pre_pay_date from user_cv_rel t1 where t1.stu_id = t.t_id) prePayDate,
		(select t1.pay_date from user_cv_rel t1 where t1.stu_id = t.t_id) payDate,
		(select t1.pay_type from user_cv_rel t1 where t1.stu_id = t.t_id) payType,
		(select t1.pay from user_cv_rel t1 where t1.stu_id = t.t_id) pay,
		t.major,
		t.phone,
		t.education,
		t.job,
		t.msg_from msgFrom,
		t.school,
		t.intention
	  from cv_info t
	  <include refid="_searchPaging1"></include>
	  order by t.create_date desc
      <!-- 分页 -->
      limit #{offset}, #{limit}
 </select>
      
 <!-- 分页查询 -->
 <!-- 根据面试者姓名或者电话，录入日期查询的分页 -->
 <select id="searchPagingCount1"  resultType="int">
      select count(*) from cv_info t
	  <include refid="_searchPaging1"></include>
	  order by t.create_date desc
 </select>
 
 
 <sql id="_searchPaging2">
		<where>
		 	<if test="param != null">
		  		<if test="param.searchText != null and param.searchText != ''">
		  			<if test="param.s_text == 1">
			  			and t1.stu_name = #{param.searchText}
		  			</if>
		  			<if test="param.s_text == 2">
			  			and t1.phone = #{param.searchText}
		  			</if>
		  			<if test="param.s_text == 3">
			  			and t3.login_name = #{param.searchText}
		  			</if>
		  		</if>
		  		<if test="param.pay_type != -1">
		  			and t2.pay_type = #{param.pay_type}
		  		</if>
		  		<if test="param.s_date == 1">
		  			<if test="param.from_date != null and param.from_date != ''">
		  				<![CDATA[ and t1.create_date >= #{param.from_date}]]>
		  			</if>
		  			<if test="param.to_date != null and param.to_date != ''">
		  				<![CDATA[ and t1.create_date <= #{param.to_date}]]>
		  			</if>
		  		</if>
		  		<if test="param.s_date == 2">
		  			<if test="param.from_date != null and param.from_date != ''">
		  				<![CDATA[ and t2.visit_date >= #{param.from_date}]]>
		  			</if>
		  			<if test="param.to_date != null and param.to_date != ''">
		  				<![CDATA[ and t2.visit_date <= #{param.to_date}]]>
		  			</if>
		  		</if>
		  		<if test="param.s_date == 3">
		  			<if test="param.from_date != null and param.from_date != ''">
		  				<![CDATA[ and t2.pre_pay_date >= #{param.from_date}]]>
		  			</if>
		  			<if test="param.to_date != null and param.to_date != ''">
		  				<![CDATA[ and t2.pre_pay_date <= #{param.to_date}]]>
		  			</if>
		  		</if>
		  		<if test="param.s_date == 3">
		  			<if test="param.from_date != null and param.from_date != ''">
		  				<![CDATA[ and t2.pay_date >= #{param.from_date}]]>
		  			</if>
		  			<if test="param.to_date != null and param.to_date != ''">
		  				<![CDATA[ and t2.pay_date <= #{param.to_date}]]>
		  			</if>
		  		</if>
			</if>
		</where>
	 </sql>
 <select id="searchPaging2" resultType="map" parameterType="map">
 	select 
		t1.t_id tId,	
		t1.stu_name stuName,
		t3.login_name userName,
		t3.t_id userId,
		t1.create_date createDate,
		t2.t_id relId,
		t2.visit_date visitDate,
		t2.pre_pay_date prePayDate,
		t2.pay_date payDate,
		t2.pay_type payType,
		t2.pay,
		t1.major,
		t1.phone,
		t1.education,
		t1.job,
		t1.msg_from msgFrom,
		t1.school,
		t1.intention
	from cv_info t1
	inner join user_cv_rel t2
	on t1.t_id = t2.stu_id
	inner join user_info t3
	on t3.t_id = t2.user_id
	<include refid="_searchPaging2"></include>
	order by t1.create_date DESC
	<!-- 分页 -->
      limit #{offset}, #{limit}
 </select>
  <select id="searchPagingCount2"  resultType="int">
      select count(*) from cv_info t1
		inner join user_cv_rel t2
		on t1.t_id = t2.stu_id
		inner join user_info t3
		on t3.t_id = t2.user_id
	  <include refid="_searchPaging2"></include>
	  order by t1.create_date desc
 </select>
 <select id="searchViewPaging" parameterType="map" resultType="map">
 	SELECT 
	    t1.t_id stuId,
	    t2.invite_id invitId,
	    (select t3.login_name from user_info t3 where t3.t_id = t2.invite_id) invitPerson,
		t1.stu_name stuName ,
		t1.create_date createDate,
		t1.phone,
		t1.sex,
		t1.school,
		t1.education,
		t1.major,
		t1.job,
		t1.msg_from msgFrom,
		t1.td_type tdType,
		t1.intention,
		t2.user_id userId,
		(select t3.login_name from user_info t3 where t3.t_id = t2.user_id) askPerson,
		t2.t_id relId
	from cv_info t1 left join user_cv_rel t2
	on t1.t_id = t2.stu_id
	<if test="param != null">
		<where>
			<if test="param.login_name != null and param.login_name != ''">
				and t2.invite_id = (select t3.t_id from user_info t3 where t3.login_name = #{param.login_name})
			</if>
			<if test="param.stu_name != null and param.stu_name != ''">
				and t1.stu_name = #{param.stu_name}
			</if>
			<if test="param.from_date != null and param.from_date != ''">
				<![CDATA[
					and t1.create_date >= #{param.from_date}
				]]>
			</if>
			<if test="param.to_date != null and param.to_date != ''">
				<![CDATA[
					and t1.create_date <= #{param.to_date}
				]]>
			</if>
			<if test="inviteId != 1 and inviteId != 9">
					and t2.invite_id = #{inviteId}
			</if>
		</where>
	</if>
	order by t1.create_date desc
	limit #{offset}, #{limit}
 </select>
 
 <select id="searchViewPagingCount" resultType="Integer">
 	SELECT 
	    count(*)
	from cv_info t1 left join user_cv_rel t2
	on t1.t_id = t2.stu_id
	<if test="param != null">
		<where>
			<if test="param.login_name != null and param.login_name != ''">
				and t2.invite_id = (select t3.t_id from user_info t3 where t3.login_name = #{param.login_name})
			</if>
			<if test="param.stu_name != null and param.stu_name != ''">
				and t1.stu_name = #{param.stu_name}
			</if>
			<if test="param.from_date != null and param.from_date != ''">
				<![CDATA[
					and t1.create_date >= #{param.from_date}
				]]>
			</if>
			<if test="param.to_date != null and param.to_date != ''">
				<![CDATA[
					and t1.create_date <= #{param.to_date}
				]]>
			</if>
			<if test="inviteId != 1 and inviteId != 9">
					and t2.invite_id = #{inviteId}
			</if>
		</where>
	</if>
 </select>
</mapper>