<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 这个xml的里面所有的操作，都是要对这个 Mapper 接口进行定义 -->
<mapper namespace="com.wisezone.mapper.CVOtherInfoMapper">
 

    <select id="queryByType" resultMap="cvOtherInfo" parameterType="java.lang.Integer">
    	select t_id,t_name,t_type from cv_other_info where t_type = #{tType}
    </select>
  		
  	<resultMap type="com.wisezone.entity.CVOtherInfo" id="cvOtherInfo">
  		<result column="t_id" jdbcType="INTEGER" property="tId"/>
  		<result column="t_name" jdbcType="VARCHAR" property="tName"/>
  		<result column="t_type" jdbcType="VARCHAR" property="tType"/>
  	</resultMap>
  	
  	<select id="queryAllInfo" resultMap="cvOtherInfo">
  		select t_id,t_name,t_type from cv_other_info
  	</select>
  	
  	<insert id="insert" parameterType="com.wisezone.entity.CVOtherInfo" useGeneratedKeys="true" keyProperty="tId">
  		insert into cv_other_info (t_id,t_name,t_type)
  		values(
  			#{tId,jdbcType=INTEGER},
  			#{tName,jdbcType=VARCHAR},
  			#{tType,jdbcType=VARCHAR}
  		)
  	</insert>
  	
  	<delete id="deleteById" parameterType="java.lang.Integer">
  		delete from cv_other_info where t_id = #{tId}
  	</delete>
  	
  	<!-- 统计信息来源 -->
  	<select id="searchMsgFromCount" parameterType="map" resultType="map">
  		select t1.t_name msgFrom,IFNULL(t3.c,0) counts from cv_other_info t1 left join(
			select t2.msg_from,count(t2.msg_from) c from cv_info t2
			<if test="param != null">
				<where>
					1=1
					<if test="param.from_date != null and param.from_date != ''">
						<![CDATA[
							and t2.create_date >= #{param.from_date}
						]]>
					</if>
					<if test="param.to_date != null and param.to_date != ''">
						<![CDATA[
							and t2.create_date <= #{param.to_date}
						]]>
					</if>
				</where>
			</if>
			group by t2.msg_from
		) t3 on t1.t_name = t3.msg_from
		where t1.t_type = 2		
  	</select>
</mapper>  